{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8"></div>
    <h1>

    </h1>
    <div class="col-4">
        <img src="/assets/img/iron.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}